name: .github/workflows/sync_to_hf_space.yml

on:
  push:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to Hugging Face Space
        env:
          # HF_TOKEN is securely loaded from GitHub Secrets
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Use the GITHUB_ACTOR (your GitHub username) for the git config
          git config --global user.email "sync-bot@github.com"
          git config --global user.name "${{ github.actor }}"

          # Force push all changes to the HF Space using the token for authentication
          # HF_USERNAME: thejaichai
          # HF_SPACE: crypto-risk-mgmt-dashboard
          git push -f https://thejaichai:$HF_TOKEN@huggingface.co/spaces/thejaichai/crypto-risk-mgmt-dashboard main
